body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.main-content {
    flex: 1;
    display: flex;
}
.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    padding: 15px;
}
.content {
    flex: 1;
    padding: 20px;
}

.error {
    color: red;
}

table tr td{
    vertical-align: middle;
}
